.pagination-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 10px 30px 30px;
  justify-content: center;
  gap: 5px;

  a {
    background: $white;
    padding: 10px 15px;
    border: 1px solid $primary-color-light;
    border-radius: 5px;
    color: $text-color;
    cursor: pointer;
    transition: 50ms ease;

    &.active {
      background: $primary-color-light;
      color: white;
      border-color: $primary-color-light;
    }
  }

  a:hover {
    background: $primary-color;
    color: white;
    // transform: scale(1.1);
  }

  .previous-disable,
  .next-disable {
    pointer-events: none;
    background: gray;
  }
}
