.plant-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  box-shadow: $box-shadow;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

  &__not-found {
    background-color: #f5f5f5;
    color: $error-color;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__back-button {
    align-self: flex-start;
    margin-bottom: 1rem;
    cursor: pointer;
    // border: 1px solid $secondary-color;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    box-shadow: $box-shadow;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;

    &:hover {
      background-color: $secondary-color;
      color: $white;
    }
  }
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    gap: 1rem;

    &__image {
      width: 130px;
      height: 130px;
      // object-fit: cover;
      border-radius: 0.5rem;
      background-color: #aaaaaab7;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }

    &__title {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      gap: 0.5rem;
      width: 70%;

      h2 {
        font-size: 1.5rem;
        margin: 0;
      }

      &__scientific-name {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0;
        color: $text-color;

        &__synonyms {
          font-size: 0.8rem;
          font-weight: 400;
          color: $text-color;
        }
      }
      &__common-name {
        font-size: 1rem;
        font-weight: 400;
        color: $text-color;
        border-bottom: 2px solid rgba(128, 128, 128, 0.329);
        padding-bottom: 10px;
      }

      &__infos {
        display: flex;
        justify-content: space-around;
        align-items: center;

        padding: 5px;
        border-radius: $border-radius;
        background-color: rgba(185, 185, 185, 0.329);

        .melliferous-rating {
          display: flex;
          align-items: center;
          font-size: 14px;
          font-style: italic;
          padding: 5px;
          margin: 0;
        }

        &__item {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 14px;
          padding: 5px;
          margin: 0;

          .isEdible {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 14px;
            font-style: italic;
            padding: 5px;
            margin: 0;
          }

          .flowering-period {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 14px;
            font-style: italic;
            padding: 5px;
            margin: 0;
          }
        }
      }
      .soil-conditions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-style: italic;
        font-size: 14px;
        margin: 1.5rem 0;

        &__indicator {
          padding: 5px 10px;
          border-radius: $border-radius * 5;
          // width: 70%;
        }
      }
    }
  }
  &__tabs {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: $border-radius;

    .tabs-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 0.5rem;
      padding: 0.5rem;
      border: 0.5px solid $white;
      cursor: pointer;
      border-radius: $border-radius;
      background-color: $secondary-color-light;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $primary-color-light;
        color: $white;
      }
      &.active {
        background-color: $primary-color-light;
        color: $white;
      }
    }
  }

  &__content {
    display: flex;
    width: 100%;
  }
}
