.plant-details {
  width: 100%;
  .plant-details__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: $white;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  .plant-details__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .plant-details__content__description {
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: left;

    p {
      font-size: 16px;
      width: 100%;
      text-align: left;
    }
  }
  .plant-details__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-top: 20px;
  }
  .plant-details__footer__button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .plant-details__footer__button:hover {
    background-color: #0056b3;
  }
}
