.stepper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-circle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $white;
      color: $text-color;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
    }
    &-label {
      font-size: 14px;
      color: $text-color;
    }
    &.active {
      .stepper__step-circle {
        background-color: #007bff;
        color: #fff;
      }
      .stepper__step-label {
        color: #007bff;
      }
    }
  }
}
