.plant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  &.list {
    flex-direction: column;
    align-items: center;
  }
  &.grid {
    justify-content: space-around;
  }
  & > * {
    margin: 1rem;
  }
}
