.plant-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  // align-items: center;

  .plant-list {
    margin: 2rem;
    // display: flex;
    // flex-direction: column;

    &.list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      gap: 1rem;
      // flex-direction: column;
      align-items: center;

      @media (max-width: 480px) {
        grid-template-columns: 1fr;
      }
    }
    &.grid {
      display: flex;
      flex-wrap: wrap;
      // justify-content: center;
      justify-content: space-around;
    }
    & > * {
      margin: 1rem;
    }
  }

  /* Style pour la pagination */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 5px;
  }

  .pagination button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .pagination button:hover {
    background-color: $primary-color;
    color: white;
  }

  .pagination button.active {
    background-color: $primary-color-light;
    color: white;
    border-color: $primary-color-light;
  }

  .pagination button.active:hover {
    background-color: #004080;
  }

  /* Responsive design */
  @media (max-width: 600px) {
    .pagination button {
      padding: 8px 12px;
      font-size: 14px;
    }
  }
}
