.app-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  min-height: 100vh;
  background-color: $secondary-color;
  position: relative;

  @media (max-width: 768px) {
    padding-left: 0;
  }
  @media (min-width: 769px) {
    padding-left: 100px;
  }
}
