---
import React from "react";
import App from "../../components/app/App.jsx";
import AppLayout from "../../layouts/AppLayout.astro";
import "../../styles/index.css";

---
<!-- export const prerender = false -->
<!--
Ce contenu sera rendu sur le serveur à la demande !
Toutes les autres pages sont générées statiquement au moment de la construction !
-->

<AppLayout>
    <div class="app-wrapper" transition:animate="slide">
        <React.StrictMode>
            <App client:only/>
        </React.StrictMode>
    </div>
</AppLayout>