---
export interface Props {
  headings: any[];
}

const { headings } = Astro.props;

// Filtrer les headings pour ne garder que H2 et H3
const filteredHeadings = headings.filter(h => h.depth >= 2 && h.depth <= 3);
---

{filteredHeadings.length > 0 && (
  <details class="toc-container">
    <summary class="toc-summary">
    <h3 class="toc-title">Sommaire</h3>
    <svg class="toc-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
      </svg>

    </summary>
  <nav class="table-of-contents">
    <ul class="toc-list">
      {filteredHeadings.map(heading => (
        <li class={`toc-item toc-level-${heading.depth}`}>
          <a href={`#${heading.slug}`} class="toc-link">{heading.text}</a>
        </li>
      ))}
    </ul>
  </nav>
  </details>
)}