// $primary-color: #3498db; // #714acc couleur complémentaire de secondary-color
// $primary-color-light: #3498db9c;
// $primary-color-dark: #2980b9;
$primary-color: #714acc;
$primary-color-light: #8155e9;
$primary-color-dark: #5e3eaa;
$secondary-color: #8eb533;
$secondary-color-light: #8eb533b7;
$secondary-color-dark: #617c23;

$green-chart: #16a34a;
$green-chart-light: #dcfce7;

$text-color: #222222;
$text-color-light: #222222b7;
$background-color: #f4f4f4;
$error-color: #e74c3c;
$success-color: #2ecc71;
$border-color: rgb(209 213 219);
$gray: #f5f5f5;
$light-gray-transparent: #e9e8e89c;
$white: #ffffff;
$white-transparent: #ffffffc4;
$black: #000000ff;

$spacing-unit: 8px;
$spacing-small: $spacing-unit * 2;
$spacing-medium: $spacing-unit * 4;
$spacing-large: $spacing-unit * 8;

$padding-small: 5px 10px;
$padding-medium: 10px 20px;
$padding-large: 20px 40px;

// Breaking points for screen sizes
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;

$border-radius: 5px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$transition-duration: 0.3s;
